@model WorkGroupPortal.Models.User

@{
    ViewData["Title"] = "Home Page";
}

@if (Model != null)
{
    <!-- Logged-in user view -->

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand active" asp-area="" asp-controller="Home" asp-action="Index">WorkGroupPortal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Log Out</a>
                        </li>
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Profile">@Model.Username Profile</a>
                        </li> *@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
}
else
{
    <!-- Guest -->

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand active" asp-area="" asp-controller="Home" asp-action="Index">WorkGroupPortal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SignUp">SignUp</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

}

<main>
    <div class="container mt-5">
        <h2 class="mb-4">Activities</h2>
        <div class="row">
            <div class="card" style="width: 14.5rem;">
                <img class="card-img-top" src="~/photos/multi_user.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Users</h5>
                    <p class="card-text">View all signed in users and friend request them</p>
                    <a class="nav-link text-dark"
                       style="display: inline-block; background-color: #e8e8e8; padding: 10px 15px; border-radius: 5px; text-align: center; font-weight: bold; text-decoration: none; transition: background-color 0.3s;"
                       onmouseover="this.style.backgroundColor='#d8d8d8';" onmouseout="this.style.backgroundColor='#e8e8e8';"
                    asp-area="" asp-controller="Users" asp-action="AvailableContacts">Add Users</a>
                </div>
            </div>
            <div class="card" style="width: 14.5rem;">
                <img class="card-img-top" src="~/photos/friend_requests.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Friend Requests</h5>
                    <p class="card-text">View friend requests</p>
                    <a class="nav-link text-dark"
                       style="display: inline-block; background-color: #e8e8e8; padding: 10px 15px; border-radius: 5px; text-align: center; font-weight: bold; text-decoration: none; transition: background-color 0.3s;"
                       onmouseover="this.style.backgroundColor='#d8d8d8';" onmouseout="this.style.backgroundColor='#e8e8e8';"
                    asp-area="" asp-controller="Users" asp-action="SeeContactRequests">View Requests</a>
                </div>
            </div>
            <div class="card" style="width: 14.5rem;">
                <img class="card-img-top" src="~/photos/networking.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Your Friends</h5>
                    <p class="card-text">View all your friends and send them group invitations</p>
                    <a class="nav-link text-dark"
                       style="display: inline-block; background-color: #e8e8e8; padding: 10px 15px; border-radius: 5px; text-align: center; font-weight: bold; text-decoration: none; transition: background-color 0.3s;"
                       onmouseover="this.style.backgroundColor='#d8d8d8';" onmouseout="this.style.backgroundColor='#e8e8e8';"
                    asp-area="" asp-controller="Users" asp-action="SeeContacts">Send Invitation</a>
                </div>
            </div>
            <div class="card" style="width: 14.5rem;">
                <img class="card-img-top" src="~/photos/group_requests.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Group Requests</h5>
                    <p class="card-text">View all group requests from your friends</p>
                    <a class="nav-link text-dark"
                       style="display: inline-block; background-color: #e8e8e8; padding: 10px 15px; border-radius: 5px; text-align: center; font-weight: bold; text-decoration: none; transition: background-color 0.3s;"
                       onmouseover="this.style.backgroundColor='#d8d8d8';" onmouseout="this.style.backgroundColor='#e8e8e8';"
                    asp-area="" asp-controller="Users" asp-action="ManageGroupInvitations">Manage Group Invitations</a>
                </div>
            </div>
            <div class="card" style="width: 14.5rem;">
                <img class="card-img-top" src="~/photos/groups.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Your Groups</h5>
                    <p class="card-text">View groups and group messages</p>
                    <a class="nav-link text-dark"
                       style="display: inline-block; background-color: #e8e8e8; padding: 10px 15px; border-radius: 5px; text-align: center; font-weight: bold; text-decoration: none; transition: background-color 0.3s;"
                           onmouseover="this.style.backgroundColor='#d8d8d8';" onmouseout="this.style.backgroundColor='#e8e8e8';"
                    asp-area="" asp-controller="Users" asp-action="SeeGroups">View Groups</a>
                </div>
            </div>
        </div>
    </div>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }

</main>
